body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
.half-width img{
    width: 75%;
    height: 650px;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: dimgray;
}
.dream-area{
    background-image: url("images/backgroundframe.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-size: 40px;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area h3{
    color: orange;
    text-align: center;
}
.experience-area h3{
    color: orange;
    text-align: center;
}
.experience-area h2{
    
    text-align: center;
}

.experience-area div{
    box-shadow: 5px 7px 40px gray;
    height: 100%;
    border-radius: 30px;
}
.third-width{
    width:20%;
    float: left;
    margin-left: 10%;
    padding-left: 2%;
}
.image-container, .text-container{
    
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
}
.third-width h3{
    text-align: center;
}

footer p{
    text-align: center;
}
footer{
    background-color: black;
}
